<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <title th:text="${title}">Title</title>
</head>
<body id="page-top">
    <div id="wrapper" class="d-flex flex-column overflow-x-auto">