<nav class="navbar navbar-expand sticky-top navbar-light bg-white topbar mb-4 static-top shadow">
    <div>
        <a href="/" class="navbar-brand text-white btn btn-primary btn-icon-split btn-lg">
            <span class="icon text-white-80">
                <i class="fab fa-bootstrap"></i>
            </span>
            <span class="text text-lg font-weight-bold">Hope</span>
        </a>
    </div>
    <div class="ml-auto">
        <div th:if="${login} != null" th:remove="tag">
            <form th:action="@{/logout}" method="post">
                <a th:href="'/users/' + ${login} + '/posts'"><span th:text="${login}"/></a>
                <a th:href="#" onclick="$(this).parent().submit();"><span th:text="${login}"/></a>
            </form>
        </div>
        <div th:if="${login} == null" th:remove="tag">
            <a th:href="@{/registration}">Регистрация</a>
            <a th:href="@{/login}">Вход</a>
        </div>
    </div>
</nav>