<div class="row bg-secondary">
    <div class="col-sm-12" th:if="${userDetails} != null">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:left">
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Главная"/>
                    </form>
                </td>
                <td>
                    <a th:href="'/users/' + ${userDetails.id} + '/posts'"><span th:text="${userDetails.username}"/></a>
                </td>
                <td style="text-align:right">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Выход"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12" th:if="${userDetails} == null">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:left">
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Главная"/>
                    </form>
                </td>
                <td style="text-align:right">
                    <form th:action="@{/registration}" style="display: inline-block">
                        <input type="submit" value="Регистрация"/>
                    </form>
                    <form th:action="@{/login}" style="display: inline-block">
                        <input type="submit" value="Вход"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${message} != null" th:text="${message}"/>
    </div>
</div>