<div th:replace="fragments/header"></div>
<div th:replace="fragments/navbar"></div>
<div class="topbar"></div>

<div class="row">
    <div class="col-sm-12">
        <form th:object="${post}" th:action="@{/savePost}" method="post">
            <textarea th:field="*{title}"></textarea>
            <textarea th:field="*{content}"></textarea>
            <input type="hidden" th:field="*{id}"  />
            <input type="hidden" th:field="*{user.id}" />
            <input type="submit" value="Сохранить" />
            <input type="button" value="Отменить" onclick="history.back();">
        </form>
    </div>
</div>
<div th:replace="fragments/footer"></div>