<form th:object="${post}" th:action="@{/savePost}" method="post">
    <div class="modal-header">
        <h5 th:if="*{id} == 0" class="modal-title" id="modalLabel">Новый пост</h5>
        <h5 th:unless="*{id} == 0" class="modal-title" id="modalLabel">Редактировать пост</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" th:field="*{title}" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Ведите заголовок">
        </div>
        <div class="form-group">
            <label for="postText">Текст поста</label>
            <textarea th:field="*{content}" class="form-control" id="postText" rows="10"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" th:field="*{id}"  />
        <input type="hidden" th:field="*{user.id}" />
        <button class="btn btn-secondary" type="button" data-dismiss="modal" value="Отменить">Отменить</button>
        <button class="btn btn-primary" type="submit" value="Сохранить">Сохранить</button>
    </div>
</form>