<div th:replace="fragments/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div th:replace="fragments/navbar"></div>
<div class="row">
    <div class="col-sm-12">
        <form th:object="${user}" th:action="@{/findByUserName}" method="post">
            <input type="text" th:field="*{name}" />
            <input type="submit" value="Поиск по автору" />
        </form>
        <a th:if="${userDetails} != null" th:href="${'/post'}">Добавить пост</a>
        <h2 th:text=" 'Результат поиска ' + ${name}"></h2>
        <div th:each="post : ${posts}">
            <div class="border rounded p-2">
                <form th:action="@{/incrementLikeCount}" method="post" th:object="${postDto}">
                    <p th:text="${post.title}" class="bg-secondary"></p>
                    <div th:if="${userDetails}">
                        <a th:if="${userDetails.id == post.user.id}"
                           th:href="${'/post/' + post.id + '/edit/'}">Редактировать</a>
                        <a th:if="${userDetails.id == post.user.id or userDetails.admin}"
                           th:href="${'/post/' + post.id + '/delete/'}">Удалить</a>
                    </div>
                    <p th:if="${post.content.length() > 150}"  th:text="${#strings.substring(post.content,0,150)}"></p>
                    <p th:unless="${post.content.length() > 150}"  th:text="${post.content}"></p>
                    <p><a th:href="${'/users/' + post.user.id + '/posts/0'}" th:text="${post.user.name}"></a></p>
                    <p th:text="${ post.date + '   Комментарии ' + post.countComments}"></p>
                    <input type="hidden" name="id" th:value="${post.id}"  />
                    <input type="submit" th:value="${post.likeCount}" />
                </form>
                <p>
                    <a th:href="${'/post/' + post.id}">Подробнее</a>
                </p>
            </div>
        </div>
        <div th:if="${posts.getTotalPages() > 1}" class="pagination-div">
            <span th:if="${posts.hasPrevious()}">
                <a th:href="${'/find/' + name + '/' + (posts.number-1)}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, posts.totalPages - 1)}">
                <span th:if="${posts.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${posts.number == i}">
                     <a th:href="${'/find/' + name + '/' + i}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${posts.hasNext()}">
                <a th:href="${'/find/' + name + '/' + (posts.number+1)}">Next</a>
            </span>
        </div>
    </div>
</div>
</div>
<div th:replace="fragments/footer"></div>