<div th:replace="fragments/header"></div>
<div th:replace="fragments/navbar"></div>
<h3 style="text-align:center">Вход</h3>
	<form th:action="@{/login}" method="post">
		<table border="0" cellpadding="1" cellspacing="1" style="width:300px; margin: auto">
			<tbody>
			<tr>
				<td style="text-align:center">
					<p style="text-align:right">&nbsp;Логин:&nbsp;</p>
				</td>
				<td><input type="text" name="username" id="username"/></td>
			</tr>
			<tr>
				<td style="text-align:center">
					<p style="text-align:right">Пароль:&nbsp;</p>
				</td>
				<td><input type="password" name="password" id="password"/></td>
			</tr>
			</tbody>
		</table>
		<p th:if="${logout}" style="text-align:center; color:green"><span th:text="${logout}"/></p>
		<p th:if="${error}" style="text-align:center; color:red"><span th:text="${error}"/></p>

		<div style="text-align:center">
			<input type="submit" value="Войти" onclick="/"/>
		</div>
	</form>
<div th:replace="fragments/footer"></div>