<div th:replace="fragments/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div th:replace="fragments/navbar"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2>User</h2>
                <div th:each="post : ${posts}">
                    <div class="border rounded p-2">
                        <!--<p th:text="${post.user.name + ' ' + post.date}" class="bg-secondary"></p>-->
                        <p th:text="${post.header}"></p>
                        <p th:text="${post.content}"></p>
                        <!--<p th:text=" 'Комментарии ' + (${post.comments.size()})" class="bg-secondary"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer"></div>
