<div th:replace="fragments/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div th:replace="fragments/navbar"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2 th:text="${userDetails.username}"/>
                <div th:each="post : ${posts}">
                    <div class="border rounded p-2">
                        <p th:text="${post.title}"></p>
                        <p th:text="${post.content}"></p>
                        <p th:text="${post.date + '   Комментарии ' + post.countComments}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer"></div>
