<div th:replace="fragments/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div th:replace="fragments/navbar"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2 th:text="${userDto.name}"></h2>
                <div th:each="post : ${posts}">
                    <div class="border rounded p-2">
                        <p th:text="${post.title}"></p>
                        <p th:text="${post.content}"></p>
                        <p th:text="${post.date + '   Комментарии ' + post.countComments}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer"></div>

<p th:if="${post.content.length() > 150}"  th:text="${#strings.substring(post.content,0,150)}"></p>
<p th:unless="${post.content.length() > 150}"  th:text="${post.content}"></p>