<div th:replace="fragments/header"></div>
<div th:replace="fragments/navbar"></div>
<div class="topbar"></div>
<div class="container bg-white pt-4 shadow  flex-grow-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="card border-bottom-secondary shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-start bg-secondary text-light">
                            <h5 class="m-0 text-light text-uppercase" th:text="${post.title}"></h5>
                            <div th:if="${userDetails != null and (userDetails.id == post.user.id or userDetails.admin)}" class="dropdown no-arrow ml-auto">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end">
                                    <a class="dropdown-item edit" th:if="${userDetails.id == post.user.id}" th:href="${'/post/' + post.id + '/edit/'}"
                                       data-toggle="modal" data-target="#edit-modal">Редактировать</a>
                                    <a class="dropdown-item" th:if="${userDetails.id == post.user.id or userDetails.admin}" th:href="${'/post/' + post.id + '/delete/'}">Удалить</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p th:text="${post.content}"></p>
                        </div>
                        <div class="card-header d-flex flex-row align-items-center bg-light">
                            <a class="mb-0 text-dark" th:href="${'/users/' + post.user.id + '/posts/0'}" th:text="${post.user.name}"></a>
                            <p class="mb-0 ml-3 text-muted font-italic" th:text="${#temporals.format(post.date, 'dd.MM.yyyy HH:mm')}"></p>
                            <p class="mb-0 ml-auto mr-3">
                                <i class="fas fa-comments text-gray-300"></i>
                                <span th:text="${post.countComments}"></span>
                            </p>
                            <form th:if="${userDetails != null}" th:action="@{/incrementLikeCount}" method="post" th:object="${postDto}">
                                <input type="hidden" name="id" th:value="${post.id}"  />
                                <a class="like mb-0 mr-3" href="#">
                                    <i class="fas fa-heart text-gray-300"></i>
                                    <span th:text="${post.likeCount}"></span>
                                </a>
                            </form>
                            <p th:unless="${userDetails != null}" class="mb-0 mr-3" href="#">
                                <i class="fas fa-heart text-gray-300"></i>
                                <span th:text="${post.likeCount}"></span>
                            </p>
                            <a class="edit" th:if="${userDetails}" th:href="${'/post/' + post.id + '/comment'}"
                               data-toggle="modal" data-target="#edit-modal">Комментировать</a>
                        </div>
                    </div>

                    <div th:if="${comments.size() > 0}" class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-start bg-light text-muted">
                            <h5 class="m-0 text-uppercase">Комментарии</h5>
                        </div>

                        <div class="card-body">
                            <div th:fragment="commentsFragment" th:remove="tag">
                                <div th:each="comment : ${comments}" class="card shadow mt-2">
                                    <div th:unless="${comment.deleted}" th:remove="tag">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-start bg-secondary text-light">
                                            <h6 class="mb-0" th:text="${comment.user.name}"></h6>
                                            <p th:text="${comment.date}" class="text-gray-400 font-italic ml-2 mb-0"></p>
                                            <div th:if="${userDetails != null and (userDetails.id == comment.user.id or userDetails.admin)}" class="dropdown no-arrow ml-auto">
                                                <a class="dropdown-toggle" href="#" role="button" th:id="${'dropdownMenuLink' + comment.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" th:attr="aria-labelledby=${'dropdownMenuLink' + comment.id}" x-placement="bottom-end">
                                                    <a class="dropdown-item edit" th:if="${userDetails.id == comment.user.id}" th:href="${'/post/' + postId + '/comment/' + comment.id}"
                                                       data-toggle="modal" data-target="#edit-modal">Редактировать</a>
                                                    <a class="dropdown-item" th:if="${userDetails.id == comment.user.id or userDetails.admin}"
                                                       th:href="${'/post/' + postId + '/comment/' + comment.id + '/delete'}">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body pb-2 pr-0">
                                            <p th:text="${comment.content}"></p>
                                            <a th:if="${userDetails}" class="btn btn-outline-secondary btn-sm edit"
                                               th:href="${'/post/' + postId + '/comment/' + comment.id + '/comment'}"
                                               data-toggle="modal" data-target="#edit-modal">Ответить</a>
                                            <div th:with="comments = ${comment.children}" th:include="::commentsFragment" th:remove="tag" />
                                        </div>
                                    </div>
                                    <div th:if="${comment.deleted}" class="card-body">
                                        <p th:text="${comment.user.name + ' ' + comment.date}" class="bg-light text-muted"></p>
                                        <p class="text-muted">Этот комментарий был удалён</p>
                                        <div th:with="comments = ${comment.children}" th:include="::commentsFragment" th:remove="tag" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer shadow bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&nbsp;</span>
        </div>
    </div>
</footer>
<a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="fragments/footer"></div>
